

/* Some media queries */
@media screen and (max-width: 65.3125em) {

}

@media screen and (max-width: 33.75em) {

}

@media screen and (max-width: 24em) {

}




.sec1 {
	width: 100%;


}


.transparent {
	width: 100%;
	height: 120px;
	background-color: transparent;
}

.pagefooter {
	width: 100%;
	height: 120px;
	position: fixed;
	bottom: 0;
	z-index: -100;
	background-image: url(../img/tianbg.jpg);
	background-color: black;
}

.footercontent p {
	text-align: center;
	margin-top: 50px;
}


