

/* Some media queries */
@media screen and (max-width: 65.3125em) {

}

@media screen and (max-width: 33.75em) {
    .picbgcontent {
        width: 49% !important;
    }
}

@media screen and (max-width: 24em) {

}


.sec5 {
	padding-bottom: 50px;
}


.transparent {
	width: 100%;
	height: 120px;
	background-color: transparent;
}

.pagefooter {
	width: 100%;
	height: 120px;
	position: fixed;
	bottom: 0;
	z-index: -100;
	background-image: url(../img/tianbg.jpg);
	background-color: black;
}

.footercontent p {
	text-align: center;
	margin-top: 50px;
}


.picbgcontent {
    width: 24%;
    float: left;
}

.picbgcontent a {
    margin: 0;
}

.picbgcontent .picbg {
    width: 100%;
}

.picbgcontent .upcontent {
    width: 100%;
    text-align: center;
}
